<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxxx.dao.DepartmentDAO">
    <resultMap id="departmentResultMap" type="Department">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="location" property="location"></result>

        <collection property="employees" ofType="Employee">
            <id column="employee_id" property="id"></id>
            <result column="employee_name" property="name" ></result>
            <result column="salary" property="salary" ></result>

        </collection>
    </resultMap>

    <select id="queryDepartmentOfEmployeesByDeptId" resultMap="departmentResultMap">
        select t_dept.* , t_employee.id employee_id, t_employee.name employee_name, t_employee.salary
        from t_dept join t_employee
        on t_dept.id = t_employee.dept_id
        where t_dept.id = #{id};
    </select>
</mapper>